button {
  padding: 10px;
  border: none;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 20px;

  & svg {
    width: 20px;
    height: 20px;
  }

  & svg * {
    fill: white;
    stroke: orange;
  }
}

.default {
  background-color: white;
  color: black;

  &:disabled {
    background-color: orange;
    border: none;
    color: white;
    box-shadow: none;
  }
}

.form {
  background-color: green;
  color: white;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:disabled {
    background-color: rgba(179, 179, 179, 0.5);
    border: none;
    color: white;
    box-shadow: none;
  }
}
