button {
  padding: 10px;
}

.default {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  color: black;

  &:disabled {
    background-color: orange;
    border: none;
    color: white;
  }
}

.form {
  background-color: red;
  width: 200px;

  &:disabled {
    background-color: gray;
    opacity: 0.5;
    border: none;
    color: white;
  }
}
