body {
  width: 100%;
  margin: auto 0;
  box-sizing: border-box;
  background-color: gray;

  background: url('./assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
