@keyframes rotateArrow {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate((180deg));
  }
}

@keyframes rotateBack {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate((0deg));
  }
}

.main {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  position: relative;

  .content {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: 2px 2px 2px 2px rgba($color: #000000, $alpha: 0.5);

    .navigation {
      display: flex;
      align-items: center;
      gap: 20px;

      .user {
        display: flex;
        align-items: center;
        gap: 20px;

        .avatar {
          border: 1px solid red;
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .userBtn {
          display: flex;
          align-items: center;

          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            animation: rotateBack 1s ease 0s 1 normal forwards;
            & svg {
              width: 40px;
              height: 40px;
            }

            & svg * {
              stroke: gray;
            }
          }

          .iconActive {
            animation: rotateArrow 1s ease 0s 1 normal forwards;

            & svg * {
              stroke: green;
            }
          }
        }
      }
    }
  }
}
